/* #7c3aed */

/* Dashboard transparent, when item is hovered turns #7c3aed and inside text #ffff, otherwise item is with #7c3aed color, Your projects side-border with #7c3aed, buttons with #7c3aed  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

main {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px;
  grid-template-areas:
    "dashboard upper"
    "dashboard main";
}

/* Dashboard */

.dashboard {
  background-color: #edede9;
  display: grid;
  grid-template-rows: 100px repeat(17, 1fr);
  grid-template-columns: 1fr;
  grid-area: dashboard;
  grid-template-areas:
    "dashboard"
    "home"
    "profile"
    "messages"
    "history"
    "tasks"
    "community"
    "."
    "settings"
    "support"
    "privacy";
  font-weight: 600;
}

.dashboard img {
  max-height: 25px;
}

.dashboard .header img {
  max-height: 50px;
}

.dashboard .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
  font-size: 1rem;
}

.dashboard .header {
  grid-area: dashboard;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
  font-size: 2rem;
}

.dashboard .home {
  grid-area: home;
}

.dashboard .profile {
  grid-area: profile;
}
.dashboard .messages {
  grid-area: messages;
}
.dashboard .history {
  grid-area: history;
}
.dashboard .tasks {
  grid-area: tasks;
}

.dashboard .community {
  grid-area: community;
}

.dashboard .settings {
  grid-area: settings;
}

.dashboard .support {
  grid-area: support;
}

.dashboard .privacy {
  grid-area: privacy;
}

/* Dashboard */

/* Upperpanel */

.upperpanel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.5fr;
  background-color: #cdb4db;
  grid-area: upper;
  grid-template-areas:
    "search notification"
    "name buttons";
}

.upperpanel .search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upperpanel .search input {
  height: 30px;
  width: 700px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
}
.upperpanel .search img {
  max-height: 30px;
}

.upperpanel .notification {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 600;
  justify-content: center;
}

.upperpanel .notification img {
  max-height: 30px;
}

.upperpanel .name {
  grid-area: name;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.upperpanel .name .username {
  display: flex;
  flex-direction: column;
}

.upperpanel .name .username p {
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
}

.upperpanel .name .username span {
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
}

.upperpanel .name img {
  max-height: 40px;
}

.upperpanel .buttons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.upperpanel .buttons button {
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
  width: 100px;
  font-weight: 600;
}
/* Upperpanel */

/* Main panel */

.mainpanel {
  display: grid;
  background-color: #dad7cd;
  grid-area: main;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(3, 1fr);
  grid-template-areas:
    "project . announce"
    "container1 container2 acard"
    "container3 container4 acard"
    "container5 container6 insight ";
}

.mainpanel .titel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 15px;
}

.mainpanel .titel h2 {
  font-size: 16px;
  font-weight: 600;
}
.mainpanel .c1 {
  grid-area: container1;
}

.mainpanel .c2 {
  grid-area: container2;
}

.mainpanel .c3 {
  grid-area: container3;
}

.mainpanel .c4 {
  grid-area: container4;
}

.mainpanel .c5 {
  grid-area: container5;
}

.mainpanel .c6 {
  grid-area: container6;
}

.mainpanel .container .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.mainpanel .container .project-container .project {
  padding-top: 30px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  border-left: 6px solid #c8b6ff;
  background-color: #fff;
  border-radius: 10px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.mainpanel .container .project-container .project .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
}
.mainpanel .container .project-container .project p {
  font-weight: 600;
}

.mainpanel .container .project-container .project span {
  font-weight: 400;
  font-size: 14px;
}

.mainpanel .container .project-container .project .engage {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.mainpanel .container .project-container .project .engage img {
  max-height: 20px;
}

.mainpanel .announce {
  grid-area: announce;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 15px;
}
.mainpanel .announce h3 {
  font-size: 16px;
}

.mainpanel .acard {
  grid-area: acard;
  padding: 15px;
}

.mainpanel .acard .acard-banner {
  display: flex;
  height: 100%;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: wrap;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(1) {
  border-bottom: 3px solid #edede9;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(2) {
  border-bottom: 3px solid #edede9;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(1) p {
  margin-bottom: 10px;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(2) h4 {
  margin-top: 10px;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(2) p {
  margin-bottom: 10px;
}

.mainpanel .acard .acard-banner .acard-text:nth-child(3) h4 {
  margin-top: 10px;
}

.mainpanel .acard .acard-banner .acard-text h4 {
  margin-bottom: 5px;
}

.mainpanel .acard .acard-banner .acard-text p {
  font-size: 13px;
}

.insight-container {
  grid-area: insight;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.insight-container .insight-banner {
  background-color: #fff;
  height: 200px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.insight-container .description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 18px;
}

.insight-banner .insight {
  display: flex;
  align-items: center;
  height: 33%;
  gap: 10px;
  margin-left: 30px;
}

.insight-banner .insight img {
  height: 20px;
}
/* Main Panel */
